@media screen and (min-width: 901px) {
  .desktopLinksAndLogo{
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 15vh;
    position: relative;

    .homeLogo{
      margin-right: 20px;
      height: 44px;
      display: flex;

      img{
        height: 100%;
        width: 100%;
        transition: 0.5s;

        &:hover{
          filter: drop-shadow(3px 0 5px #bd1e22);
        }
      }
    }

    .button {
      padding: 20px 20px;
      letter-spacing: 3px;
      font-size: 22px;
      text-transform: capitalize;
      font-weight: 500;
      color: #1a1a1ad9;
      transition: 0.5s;
      text-decoration: underline;
      text-decoration-color: #fff;

      &:hover{
        text-decoration: underline;
        color: #000;
        text-decoration-color: #bd1e22;
      }
    }

    .dropdownMenu {
      display: block;
      opacity: 0;
      transform: translateY(-10px);
      position: absolute;
      top: 100%;
      left: calc(15vh + 220px);
      background-color: #fff;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      padding: 10px 0;
      min-width: 150px;
      z-index: 1000;
      pointer-events: none;
      transition: opacity 0.3s ease, transform 0.3s ease;

      &:hover {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
      }
    }

    .button:hover .dropdownMenu{
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }

    .dropdownLink {
      display: block;
      padding: 8px 16px;
      color: #1a1a1ad9;
      font-size: 18px;
      text-decoration: none;
      transition: background 0.3s, color 0.3s;

      &:hover {
        background-color: #efefef;
        color: #bd1e22;
      }
    }
  }
}
