@media screen and (min-width: 901px) {
  .settings{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    overflow: hidden;
    padding-right: 15vh;

    .languageSelector{
      display: flex;
      align-items: center;
      margin: 0 0 0 35px;

      div{
        text-transform: uppercase;
        padding: 7px;
        font-size: 20px;
        cursor: pointer;
        font-weight: 600;
        color: #1a1a1ad9;

        &:first-of-type{
          text-transform: uppercase;
          border-right: 3px solid #bd1e22;
          padding: 7px;
          font-size: 20px;
        }
      }

      .active{
        color: #000;
      }
    }

    .contactLink{
      text-decoration: none;

      .contactButton{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 190px;
        border-radius: 30px;
        border: 3px solid #bd1e22;
        transition: 1s;
        font-size: 22px;
        text-transform: capitalize;
        color: #000;
        font-weight: bold;
        margin-right: 20px;

        &:hover{
          background: #bd1e22;
          color: #fff;
        }
      }
    }
  }
}