@media screen and (min-width: 901px) {

  .homePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: auto;
    height: auto;
    color: #000;
    min-height: calc(100vh - 130px);
    padding: 0 20%;
    transition: 500ms;
    overflow: hidden;
  }
}

@media screen and (max-width: 900px) {
  .homePage{
    height: calc(100% - 105px);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 0 5% 0;
    color: #000;
  }
}